<head>
<meta name="description" content="La page modification du profil utilisateur.">
</head>

<div class="w-full mt-5">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Modifier les informations de l'utilisateur" %>

  <div class="flex flex-col items-center mb-5 justify-center relative w-full h-120">
    <div class="relative w-full h-full">
      <div class="absolute inset-0 bg-HFlight opacity-50"></div>
      <div class="relative flex flex-col items-center justify-center h-full">
        <h1 class="font-bold text-4xl text-HFblue-200 mb-10 mt-10">Modifier les informations de l'utilisateur</h1>
      </div>
    </div>
  </div>

  <div class="flex justify-center">
    <div class="bg-HFlight shadow-md rounded-lg p-5 w-5/6 m-5">
      <%= form_for(@user, html: { multipart: true }) do |f| %>
        <div class="mb-4">
          <%= f.label :email, class: "block text-HFblue-200 font-medium mb-2" %>
          <%= f.email_field :email, class: "form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm" %>
        </div>

        <div class="mb-4">
          <%= f.label :first_name, class: "block text-HFblue-200 font-medium mb-2" %>
          <%= f.text_field :first_name, class: "form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm" %>
        </div>

        <div class="mb-4">
          <%= f.label :last_name, class: "block text-HFblue-200 font-medium mb-2" %>
          <%= f.text_field :last_name, class: "form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm" %>
        </div>

        <div class="mb-4">
          <%= f.label :phone_number, class: "block text-HFblue-200 font-medium mb-2" %>
          <%= f.text_field :phone_number, class: "form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm" %>
        </div>

        <div class="mb-4">
          <%= f.label :birthdate, class: "block text-HFblue-200 font-medium mb-2" %>
          <%= f.date_select :birthdate, class: "form-select mt-1 block w-full rounded-md border-gray-300 shadow-sm" %>
        </div>

        <div class="mb-4">
          <%= f.label :commission, class: "block text-HFblue-200 font-medium mb-2" %>
          <%= f.number_field :commission, class: "form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm" %>
        </div>

        <div class="mb-4">
          <%= f.label :description, class: "block text-HFblue-200 font-medium mb-2" %>
          <%= f.text_field :description, class: "form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm" %>
        </div>

        <div class="mb-4">
          <%= f.label :avatar, class: "block text-HFblue-200 font-medium mb-2" %>
          <%= f.file_field :avatar, class: "form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm" %>
        </div>

        <div class="actions justify center">
          <%= f.submit "Enregistrer", class: "btn btn-primary mt-5 mb-5" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
