<section class="py-12 px-4">
  <div class="text-center mb-10">
    <h1 class="text-3xl font-bold text-violet-950 m-10">Nos Concierges</h1>
    <p class="text-HFdark">Découvrez nos les personnes disponibles pour des collaborations fructueuses.</p>
  </div>
  <ul role="list" class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3 mx-auto max-w-7xl">
    <% @users.each do |user| %>
      <% if user.is_host %>
        <li class="col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow-lg min-h-[300px]"> <!-- Augmenté la hauteur minimale -->
          <a href="<%= user_path(user) %>">
            <div class="flex w-full items-center justify-between space-x-6 p-6">
              <div class="flex-1 truncate">
                <div class="flex items-center space-x-3">
                  <h3 class="truncate text-lg font-medium text-gray-900"><%= user.first_name %></h3>
                  <% if user.is_available == "Disponible" %>
                    <span class="inline-flex flex-shrink-0 items-center rounded-full bg-green-50 px-1.5 py-0.5 text-xs font-medium text-green-600 ring-1 ring-inset ring-green-500">Disponible</span>
                  <% else %>
                    <span class="inline-flex flex-shrink-0 items-center rounded-full bg-red-50 px-1.5 py-0.5 text-xs font-medium text-red-600 ring-1 ring-inset ring-red-500">Indisponible</span>
                  <% end %>
                </div>
                <p class="mt-1 truncate text-sm text-gray-500"><%= user.commission %>%</p>
                
              </div>
              <% if user.avatar.attached? %>
                <%= image_tag user.avatar.variant(resize_to_fill: [300, 300]), class: "h-20 w-20 flex-shrink-0 rounded-full bg-gray-300" %> <!-- Augmenté la taille des images -->
              <% else %>
                <div class="h-20 w-20 flex-shrink-0 rounded-full bg-gray-300"></div> <!-- Placeholder for missing photo -->
              <% end %>
            </div>
            <div>
              <p class="p-6 mt-1 text-sm text-gray-500 truncate-description"><%= user.description %></p>
            </div>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
