<head>
<meta name="description" content="La page de profil des concierges permettant de visualiser les concierges disponibles sur la plateforme.">
</head>

<section class="py-12 px-4">
  <div class = "flex flex-wrap justify-center gap-10">
    <h1 class="text-3xl font-bold mb-8 text-center text-HFblue-200 mb-10">Nos Utilisateurs</h1>
    <p class>
    <div class = 'bg-HFlight opacity-50'>
   </div>
  </div>
  <div class="flex flex-wrap justify-center gap-10"> <!-- Augmentation de la marge -->
    <% @users.each do |user| %>
    <% if user.is_host %>
      <a href="<%= user_path(user) %>"> <!-- Ajout du lien vers la page de profil -->
        <div class="w-4/6 bg-HFlight rounded shadow-md transition-transform transform hover:-translate-y-2 hover:shadow-2xl hover:scale-101"> <!-- Modification des tailles des cartes -->
          <div class="relative">
            <% if user.avatar.attached? %>
              <%= image_tag user.avatar.variant(resize_to_fill: [300, 300]), class: "rounded-t-lg w-full" %>
            <% else %>
              <div class="w-full h-20 bg-HFlight rounded-t-lg"></div> <!-- Placeholder for missing photo -->
            <% end %>
            <div class="absolute top-0 left-0 w-full bg-HFlight bg-opacity-75 text-white font-semibold py-1 px-3 rounded-tl-lg rounded-tr-lg">
              <% if user.is_available %>
                <span class="text-green-600">Disponible</span>
              <% else %>
                <span class="text-HFred-200">Indisponible</span>
              <% end %>
            </div> <!-- Affichage du statut en incrusté -->
          </div>
          <div class="px-5 pb-5">
            <h5 class="text-lg font-bold tracking-tight text-HFdark mt-4"><%= user.first_name %> <%= user.last_name %></h5>
            <ul class="mt-2">
              <li>Email:<a href="<%= user_path(user) %>" class= "text-HFblue-200"> **voir l'email**</a></li> 
              <li>Téléphone: <a href="<%= user_path(user) %>" class= "text-HFblue-200"> **voir le N° de téléphone**</a></li>
              <li>Commission: <%= user.commission %></li>
              <!-- Ne pas afficher le statut ici, car il est déjà visible sur la photo -->
            </ul>
            <div class="flex items-center justify-between mt-4">
              <span class="text-base font-bold text-gray-900 dark:text-white"><%= user.commission %></li></span>
              <!-- Ne pas afficher le statut ici, car il est déjà visible sur la photo -->
              <a href="#" class="btn btn-primary">Embaucher</a>
            </div>
          </div>
        </div>
      </a>
    <% end %>
    <% end %>
  </div>
</section>
