<h1>Informations de <%= @user.first_name %></h1>

<ul>
  <li><%= @user.email %></li>
  <li><%= @user.first_name %></li>
  <li><%= @user.last_name %></li>
  <li><%= @user.phone_number %></li>
  <li><%= @user.birthdate %></li>
  <li><%= @user.commission %></li>
  <li><%= @user.description %></li>
  <li><%= @user.is_available %></li>
</ul>

<% if @user.avatar.attached? %>
  <%= image_tag @user.avatar.variant(resize: "100x100") %>
<% end %>


<% if current_user == @user || current_user.is_admin %>
  <%= link_to 'Modifier les informations', edit_user_path(@user) %>
<% end %>

<% if current_user != @user %>
  <%= link_to 'Proposer une mission', new_mission_path(host_id: @user.id), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
<% end %>