<nav class="sticky top-0 z-50 bg-gray-100 border border-gray-50">
  <div class="h-24 flex items-center justify-between px-4 lg:px-8">
    <!-- Logo section -->
    <div>
      <%= link_to root_path do %>
        <%= image_tag 'icons/logo.svg', alt: 'Logo', class: 'h-10 lg:h-14 w-auto' %>
      <% end %>
    </div>

    <!-- Desktop and Tablet Menu -->
    <div class="hidden md:flex flex-row pl-4 lg:pl-24 justify-center md:space-x-24 lg:space-x-16 xl:space-x-28 text-lg">
      <%= link_to users_path, class: 'flex items-center' do %>
        <%= image_tag 'icons/concierges.svg', alt: 'Concierges', class: 'h-6 w-6 md:block lg:hidden' %>
        <span class="hidden lg:inline text-violet-950 px-2 hover:text-HFblue-200">Concierges</span>
      <% end %>

      <%= link_to missions_path, class: 'flex items-center' do %>
        <%= image_tag 'icons/list.svg', alt: 'Missions', class: 'h-6 w-6 md:block lg:hidden' %>
        <span class="hidden lg:inline text-violet-950 px-2 hover:text-HFblue-200">Missions</span>
      <% end %>

      <%= link_to team_path, class: 'flex items-center' do %>
        <%= image_tag 'icons/users.svg', alt: 'Équipe', class: 'h-6 w-6 md:block lg:hidden' %>
        <span class="hidden lg:inline text-violet-950 px-2 hover:text-HFblue-200">Équipe</span>
      <% end %>

      <%= link_to about_path, class: 'flex items-center whitespace-nowrap' do %>
        <%= image_tag 'icons/book-open.svg', alt: 'À propos', class: 'h-6 w-6 md:block lg:hidden' %>
        <span class="hidden lg:inline text-violet-950 px-2 hover:text-HFblue-200">À propos</span>
      <% end %>
    </div>

    <!-- User Authentication -->
    <div class="hidden md:flex items-center md:space-x-2 lg:space-x-4">
      <% if user_signed_in? %>
        <%= link_to user_path(current_user), class: 'flex items-center' do %>
          <%= image_tag 'icons/user.svg', alt: 'Profile', class: 'h-6 w-6 md:block lg:hidden' %>
          <span class="hidden lg:inline text-violet-950 hover:text-violet-800 px-2">Profil</span>
        <% end %>
        <%= button_to "Déconnexion", destroy_user_session_path, method: :delete, class: 'btn-secondary hover:bg-red-500 font-light bg-red-400 text-xs md:text-sm lg:text-base px-2 py-1 lg:px-3 lg:py-2 whitespace-nowrap' %>
      <% else %>
        <div class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-2 lg:space-x-4">
          <%= link_to "Connexion", new_user_session_path, class: 'btn-primary text-xs md:text-sm lg:text-base px-2 py-1 lg:px-3 lg:py-2 whitespace-nowrap' %>
          <%= link_to "Inscription", new_user_registration_path, class: 'btn-primary text-xs md:text-sm lg:text-base px-2 py-1 lg:px-3 lg:py-2 whitespace-nowrap' %>
        </div>
      <% end %>
    </div>

    <!-- Burger Menu Button -->
    <div class="md:hidden flex items-center">
      <button id="burger-menu" aria-label="burger-menu" class="flex flex-col space-y-1 p-2" onclick="toggleMobileMenu()">
        <span class="block w-6 h-0.5 bg-black"></span>
        <span class="block w-6 h-0.5 bg-black"></span>
      </button>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div id="mobile-menu" class="hidden md:hidden bg-slate-100 w-full z-50 transition-all duration-300 ease-in-out">
    <div class="flex flex-col items-end space-y-4 p-4">
      <%= link_to "Concierges", users_path, class: 'text-HFblue-200 px-2', onclick: 'hideMobileMenu()' %>
      <%= link_to "Missions", missions_path, class: 'text-HFblue-200 px-2', onclick: 'hideMobileMenu()' %>
      <%= link_to "Équipe", team_path, class: 'text-HFblue-200 px-2', onclick: 'hideMobileMenu()' %>
      <%= link_to "À propos", about_path, class: 'text-HFblue-200 px-2', onclick: 'hideMobileMenu()' %>

      <% if user_signed_in? %>
        <%= link_to "Profil", user_path(current_user), class: 'text-HFblue-200 px-2', onclick: 'hideMobileMenu()' %>
        <%= button_to "Déconnexion", destroy_user_session_path, method: :delete, class: 'btn-secondary-nav w-full text-right' %>
      <% else %>
        <%= link_to "Connexion", new_user_session_path, class: 'text-HFblue-200 px-2', onclick: 'hideMobileMenu()' %>
        <%= link_to "Inscription", new_user_registration_path, class: 'text-HFblue-200 px-2', onclick: 'hideMobileMenu()' %>
      <% end %>
    </div>
  </div>
</nav>

<script>
  function toggleMobileMenu() {
    var menu = document.getElementById('mobile-menu');
    menu.classList.toggle('hidden');
  }

  function hideMobileMenu() {
    var menu = document.getElementById('mobile-menu');
    menu.classList.add('hidden');
  }
</script>