<nav>
  <div class='bg-HFmain-200 h-16 flex items-center'>
    <ul class='w-full flex justify-between items-center m-4'>
      <li>
        <%= link_to root_path do %>
          <%= image_tag 'icons/Bg_logo.svg', alt: 'Logo', class: 'size-14 stroke-white' %>
        <% end %>
      </li>
      <li>
        <%= link_to missions_path, class: 'text-white flex flex-col items-center' do %>
          <%= image_tag 'icons/list-check.svg', alt: 'Missions', class: 'flex size-8' %>
          <span>Missions</span>
        <% end %>
      </li>
      <li>
        <%= link_to users_path, class: 'text-white flex flex-col items-center' do %>
          <%= image_tag 'icons/home.svg', alt: 'Annuaire', class: 'size-8' %>
          <span>Annuaire</span>
        <% end %>
      </li>
      <li class='flex justify-right items-center space-x-3'>
        <% if user_signed_in? %>
          <%= link_to user_path(current_user), class: 'text-white flex flex-col items-center' do %>
            <%= image_tag 'icons/user.svg', alt: 'Profile', class: 'size-8 mr-6' %>
            <span class='mr-6'>Profile</span>
          <% end %>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'btn-secondary' %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: 'btn-primary hover:bg-HFmain-100' %>
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn-primary hover:bg-HFmain-100' %>
        <% end %>
      </li>
      <li>
        <%= image_tag 'icons/menu-burger.svg', alt: 'Burger', class: 'size-12' %>
      </li>
    </ul>
  </div>
</nav>
