<head>
<meta name="description" content="Page d'accueil de Hotefinder incluant services, avantages et informations sur les concierges.">
</head>
<!-- Feature Presentation Section -->
<div class="relative isolate overflow-hidden bg-gray-900 h-100 py-24 sm:py-32">
  <img src=https://img.freepik.com/photos-gratuite/amis-voyageant-decouvrant-nouveaux-endroits_23-2149124764.jpg?w=1380&t=st=1717661167~exp=1717661767~hmac=f003cd632a22b5614e823b2bdd02bec279ccb2efe401cb588b457405327a7d58 alt="page de fond de l'indexe representant 2 homme a l'entree d'une maison" class="absolute inset-0 -z-10 h-full w-full object-cover object-center">
  <div class="absolute inset-0 bg-black opacity-50 z-10"></div> <!-- Overlay with lower z-index -->
  <div class="relative z-20 mx-auto max-w-[60%] px-6 lg:px-8 h-full flex flex-col justify-center"> <!-- Adjusted width to 60% -->
    <div class="mx-auto max-w-2xl text-center lg:text-center">
      <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Hotefinder</h2>
      <p class="mt-6 my-8 mx-0 text-lg leading-8 text-gray-300">Tous les services dont vous avez besoin pour la gestion de vos biens en location courte durée!</p>
      <a href="#" class="btn-primary">Sign-up</a>
    </div>
  </div>
</div>

<div>
<main class="container mx-auto px-5">
<!-- Feature Presentation Section -->
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Hotefinder c'est quoi?</p>
      <dd class="mt-2 text-base leading-7 text-gray-600">Spécialiste de la mise en relation entre Propriétaire et prestataire de service de proximité.</dd>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-3 lg:gap-y-16">
        <div class="relative text-center">
          <div class="mx-auto flex h-16 w-16 items-center justify-center rounded-lg bg-indigo-600">
            <svg class="h-10 w-10 text-white" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.032 12 9.976 13.984 14.936 9.024M18.486 14.296 19.379 13.403a1.984 1.984 0 0 0 0-2.806l-.893-.893a1.984 1.984 0 0 1-.581-1.403V7.04a1.984 1.984 0 0 0-1.984-1.984h-1.262a1.983 1.983 0 0 1-1.403-.581l-.893-.893a1.984 1.984 0 0 0-2.806 0l-.893.893a1.984 1.984 0 0 1-1.403.581H7.04A1.984 1.984 0 0 0 5.055 7.04v1.262c0 .527-.209 1.031-.581 1.403l-.893.893a1.984 1.984 0 0 0 0 2.806l.893.893c.372.372.581.876.581 1.403v1.262a1.984 1.984 0 0 0 1.984 1.984h1.262c.527 0 1.031.209 1.403.581l.893.893a1.984 1.984 0 0 0 2.806 0l.893-.893a1.985 1.985 0 0 1 1.403-.581h1.262a1.984 1.984 0 0 0 1.984-1.984V15.7c0-.527.209-1.031.581-1.403Z"/>
            </svg>
          </div>
          <dt class="mt-4 text-base font-semibold leading-7 text-gray-900">Mise en relation rapide</dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">Connectez facilement les propriétaires de locations courte durée avec des concierges qualifiés pour une gestion sans tracas.</dd>
        </div>
        <div class="relative text-center">
          <div class="mx-auto flex h-16 w-16 items-center justify-center rounded-lg bg-indigo-600">
            <svg class="h-10 w-10 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
            </svg>
          </div>
          <dt class="mt-4 text-base font-semibold leading-7 text-gray-900">Prestations sur mesure</dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">Sélectionnez les services nécessaires parmi une gamme complète de prestations de conciergerie personnalisables.</dd>
        </div>
        <div class="relative text-center">
          <div class="mx-auto flex h-16 w-16 items-center justify-center rounded-lg bg-indigo-600">
            <svg class="h-10 w-10 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
            </svg>
          </div>
          <dt class="mt-4 text-base font-semibold leading-7 text-gray-900">Sécurité et confiance</dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">Consultez l'historique des prestations et les avis des clients pour garantir la qualité et la fiabilité des services.</dd>
        </div>
      
      </dl>
    </div>
  </div>
  </div>

<!-- Random User Cards display -->
<section class="py-12 px-4">
  <h2 class="text-3xl font-bold mb-8 text-center">Our Users</h2>
  <div class="flex flex-wrap justify-center -mx-4">
    <% @randusers.each do |user| %>
      <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 px-4 mb-8">
        <div class="bg-white rounded-lg shadow-md dark:bg-gray-800 transition-transform transform hover:-translate-y-2 hover:shadow-2xl hover:scale-105">
          <a href="#">
            <% if user.avatar.attached? %>
              <%= image_tag user.avatar.variant(resize_to_fill: [150, 150]), class: "rounded-t-lg w-full", alt: "images concierges" %>
            <% end %>
          </a>
          <div class="px-5 pb-5">
            <a href="#">
              <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white"><%= user.first_name %> <%= user.last_name %></h5>
            </a>
            <div class="flex items-center justify-between">
              <span class="text-lg font-bold text-gray-900 dark:text-white">20€/h only!</span>
              <a href="#" class="btn-primary">Hire</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>



    <!-- Authentication Buttons Section -->
    <section class="text-center py-12 mx-4">
      <% if user_signed_in? %>
        <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to sign out?' }, class: 'btn btn-primary' %>
      <% else %>
        <%= button_to 'Sign In', new_user_session_path, method: :post, data: { confirm: 'Are you sure you want to sign out?' }, class: 'btn btn-primary' %>
      <% end %>
    </section>
    
  </main>
</div>

