<head>
<meta name="description" content="Page d'accueil de Hotefinder incluant services, avantages et informations sur les concierges.">
</head>

<!-- Main Content Section -->
<section class="bg-gray-100 box-decoration-slice">
  <div class="container mx-auto flex flex-col lg:flex-row items-center py-12 px-4 lg:px-10">
    <!-- Left side: Text content -->
    <div class="lg:w-1/2 lg:pr-12">
      <h1 class="text-4xl lg:text-7xl font-bold mb-6 font-sans text-violet-950">Hotefinder.</h1>
      <p class="text-lg lg:text-xl mb-6">Non, nous ne sommes pas une conciergerie... <br>
        Hotefinder vous aide à trouver le concierge idéal pour la gestion saisonnière de vos biens immobiliers.</p>
      <div class="flex justify-start space-x-4 lg:space-x-10">
        <%= link_to 'Inscription', new_user_registration_path, class: 'btn-secondary bg-red-400 text-lg w-32 lg:w-48 hover:bg-red-500 font-light' %>
        <%= link_to 'En savoir plus', new_user_registration_path, class: 'btn-secondary bg-red-400 text-lg w-32 lg:w-48 hover:bg-red-500 font-light' %>
      </div>
    </div>
    <!-- Right side: Image -->
    <div class="lg:w-1/2 mt-8 lg:mt-0 hidden sm:block md:w-1/2">
      <%= image_tag 'img/hero.webp', alt: 'Hero Image', class: 'w-full md:w-3/4 lg:w-full max-h-140 rounded-md object-contain' %>
    </div>
  </div>
</section>

<!-- Présentation de nos partenaires de confiance -->
<section>
  <div class="bg-white w-full p-8 my-8">
    <div class="flex flex-col sm:flex-row justify-evenly items-center space-y-4 sm:space-y-0 sm:space-x-4">
      <%= image_tag 'img/airbnb.webp', alt: 'Airbnb_logo', class: 'w-36 h-auto' %>
      <%= image_tag 'img/booking', alt: 'Booking_logo', class: 'w-40 h-auto' %>
      <%= image_tag 'img/abritel', alt: 'Abritel_logo', class: 'w-28 h-auto' %>
      <%= image_tag 'img/leboncoin.svg', alt: 'Leboncoin_logo', class: 'w-36 h-auto' %>
    </div>
  </div>
  <div>
  <img src=https://img.freepik.com/photos-gratuite/amis-voyageant-decouvrant-nouveaux-endroits_23-2149124764.jpg?w=1380&t=st=1717661167~exp=1717661767~hmac=f003cd632a22b5614e823b2bdd02bec279ccb2efe401cb588b457405327a7d58 alt="" class="h-96 w-full object-cover object-center">
</div>
</section>

<!-- Section sur les avantages de Hotefinder -->

<div class="bg-red-50 py-16 sm:py-16">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-violet-950">Louez plus vite</h2>
      <p class="mt-2 text-3xl font-sans font-bold tracking-tight text-violet-950 sm:text-4xl">Nos engagements</p>
      <p class="mt-6 text-lg leading-8 text-gray-800 font-serif">Remettre les clés de sa maison principale ou secondaire à un concierge n'est pas anodin. C'est un engagement qui établit une relation pérenne et durable. Il est impératif de sélectionner la personne idéale. </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z" />
              </svg>
            </div>
            Mise en relation rapide
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600 font-serif">Accédez très rapidement à un large choix de concierge dans votre ville. Notre plateforme vous permet une sélection minutieuse grâce aux avis clients, vous garantissant de trouver des professionnels de confiance et compétents pour la gestion de vos biens.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
              </svg>
            </div>
            Gestion simplifié et efficace
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600 font-serif">En utilisant notre plateforme, les propriétaires peuvent utiliser nos outils intuitifs à disposition pour gérer faciliter la relation avec les concierges.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
              </svg>
            </div>
            Service Client
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600 font-serif">Notre équipe est disponible pour assister à la fois les propriétaires et les concierges, assurant une communication fluide et une résolution rapide des problèmes, pour une expérience sans souci.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <i class="fa-sharp fa-solid fa-euro-sign"></i>
            </div>
            Transparence tarifaire
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600 font-serif">Nous assurons une transparence totale des tarifs, permettant aux propriétaires de connaître les coûts exacts des services de conciergerie dès le départ, sans frais cachés ni surprises.</dd>
        </div>
      </dl>
    </div>
  </div>
</div>

<section class="py-12 h-140 bg-gray-50">
  <h2 class="mt-2 mb-10 text-center font-sans font-bold tracking-tight sm:text-4xl text-violet-950">Nos concierges</h2>
  <div class="mx-auto max-w-7xl relative w-full" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative overflow-hidden rounded-lg md:h-140">
      <% @randusers.first(5).each_with_index do |user, index| %>
        <div class="<%= index == 0 ? 'duration-700 ease-in-out' : 'hidden duration-700 ease-in-out' %>" data-carousel-item>
          <div class="flex flex-row h-full items-center">
            <!-- Photo de l'utilisateur -->
            <div class="flex justify-center items-center w-1/2 bg-gray-50 rounded-lg transition-transform hover:scale-95 overflow-hidden">
              <% if user.avatar.attached? %>
                <%= image_tag user.avatar.variant(resize_to_fill: [500, 500]), class: "rounded-full w-2/3 h-2/3 object-cover" %>
              <% end %>
            </div>
            <!-- Prénom et description de l'utilisateur -->
            <div class="w-1/2 flex justify-start items-start">
              <div class="text-gray-900 w-2/3">
                <h5 class="text-2xl font-semibold italic tracking-tight text-gray-900 mb-4"><%= user.first_name %></h5>
                <p class="text-lg text-gray-700 italic"><%= user.description %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex -translate-x-1/2 bottom-2 left-1/2 space-x-3 rtl:space-x-reverse">
      <% @randusers.first(5).each_with_index do |user, index| %>
        <button type="button" class="w-3 h-3 rounded-full <%= index == 0 ? 'bg-gray-800' : 'bg-gray-400' %>" aria-current="<%= index == 0 %>" aria-label="Slide <%= index + 1 %>" data-carousel-slide-to="<%= index %>"></button>
      <% end %>
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>
</section>


    <!-- Testimonial Section -->
    <section class="relative isolate overflow-hidden bg-red-50 px-6 py-20 sm:py-20 lg:px-8">
    <h2 class="mt-2 text-3xl mb-10 text-center font-bold tracking-tight font-sans sm:text-4xl text-violet-950">Nos clients témoignent</h2>
      <div class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,theme(colors.indigo.100),white)] opacity-20"></div>
      <div class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center"></div>
      <div class="mx-auto max-w-2xl lg:max-w-4xl">
        <!--<img class="mx-auto h-12" src="https://tailwindui.com/img/logos/workcation-logo-indigo-600.svg" alt="">-->
        <figure class="mt-10">
          <blockquote class="text-center italic text-base font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9">
            <p>"Nous avons utilisé <span>Hotefinder</span> pour trouver le partenaire idéal pour notre maison sur Pornic. Grâce à eux, nous avons pu simplifier la gestion de notre bien et optimiser notre temps. Je recommande chaudement cette plateforme à tous les propriétaires qui cherchent une solution efficace et professionnelle."</p>
          </blockquote>
          <figcaption class="mt-10">
            <img class="mx-auto h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            <div class="mt-4 flex items-center justify-center space-x-3 text-base">
              <div class="font-semibold text-gray-900">Romane Masiera</div>
              <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-gray-900">
                <circle cx="1" cy="1" r="1"/>
              </svg>
              <div class="text-gray-600">Propritaire d'une maison à Pornic</div>
            </div>
          </figcaption>
        </figure>
      </div>
    </section>
  </main>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var swiper = new Swiper('.swiper-container', {
                direction: 'horizontal',
                loop: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '[data-carousel-next]',
                    prevEl: '[data-carousel-prev]',
                },
            });
        });
    </script>
</div>
