<head>
<meta name="description" content="Page d'accueil de Hotefinder incluant services, avantages et informations sur les concierges.">
</head>

<section class="bg-gray-100 box-decoration-slice">
  <div class="container mx-auto flex flex-col lg:flex-row items-center py-12 px-4 lg:px-10">
    <!-- Left side: Text content -->
    <div class="lg:w-1/2 lg:pr-12">
      <h1 class="text-4xl lg:text-8xl font-bold mb-6 font-sans text-violet-950">Hotefinder.</h1>
      <p class="text-lg lg:text-xl mb-6">
        Hotefinder vous aide à trouver le concierge idéal pour la gestion saisonnière de vos biens immobiliers.</p>
      <div class="flex justify-start space-x-4 lg:space-x-10">
        <%= link_to 'Inscription', new_user_registration_path, class: 'btn btn-tertiary text-lg w-32 lg:w-48 hover:bg-red-500 font-light hidden md:inline-block flex items-center justify-center text-center' %>
        <%= link_to 'En savoir plus', about_path, class: 'btn btn-secondary text-lg w-32 lg:w-48 font-light hidden md:inline-block flex items-center justify-center text-center' %>
      </div>
    </div>
    <!-- Right side: Image -->
    <div class="lg:w-1/2 mt-8 lg:mt-0 hidden sm:block md:w-1/2">
      <%= image_tag 'icons/hero.webp', alt: 'femme travaillant sur son ordinateur', class: 'w-full md:w-3/4 lg:w-full max-h-140 rounded-md object-contain' %>
    </div>
  </div>
</section>

<!-- Section sur les avantages de Hotefinder -->
<div class=" py-10 sm:py-10">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-lg font-semibold leading-7 text-violet-950">Louez plus vite</h2>
      <p class="mt-2 text-3xl font-sans font-bold tracking-tight text-violet-950 sm:text-4xl">Nos services</p>
      <p class="mt-6 text-lg leading-8 text-gray-800 font-serif">Remettre les clés de sa maison principale ou secondaire à un concierge n'est pas anodin. C'est un engagement qui établit une relation pérenne et durable. Il est impératif de sélectionner la personne idéale. </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <!-- Mise en relation rapide-->
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-HFblue-200">
              <svg class="w-[21px] h-[21px] text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.9" d="M16.872 9.687 20 6.56 17.44 4 4 17.44 6.56 20 16.873 9.687Zm0 0-2.56-2.56M6 7v2m0 0v2m0-2H4m2 0h2m7 7v2m0 0v2m0-2h-2m2 0h2M8 4h.01v.01H8V4Zm2 2h.01v.01H10V6Zm2-2h.01v.01H12V4Zm8 8h.01v.01H20V12Zm-2 2h.01v.01H18V14Zm2 2h.01v.01H20V16Z"/>
            </svg>
            </div>
            Mise en relation rapide
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600 font-serif">Accédez très rapidement à un large choix de concierge dans votre ville. Notre plateforme vous permet une sélection minutieuse grâce aux avis clients, vous garantissant de trouver des professionnels de confiance et compétents pour la gestion de vos biens.</dd>
        </div>

        <!-- Gestion simplifiée et efficace -->
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-HFblue-200">
              <svg class="w-[21px] h-[21px] text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.9" d="M7 8v8a5 5 0 1 0 10 0V6.5a3.5 3.5 0 1 0-7 0V15a2 2 0 0 0 4 0V8"/>
              </svg>
            </div>
            Gestion simplifié et efficace
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600 font-serif">En utilisant notre plateforme, les propriétaires peuvent utiliser les outils intuitifs à disposition pour gérer faciliter la relation avec les concierges.</dd>
        </div>

        <!-- Service client -->
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-HFblue-200">
                <svg class="w-[21px] h-[21px] text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.9" d="M14.079 6.839a3 3 0 0 0-4.255.1M13 20h1.083A3.916 3.916 0 0 0 18 16.083V9A6 6 0 1 0 6 9v7m7 4v-1a1 1 0 0 0-1-1h-1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1Zm-7-4v-6H5a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h1Zm12-6h1a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2h-1v-6Z"/>
              </svg>
            </div>
            Service Client
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600 font-serif">Notre équipe est disponible pour assister à la fois les propriétaires et les concierges, assurant une communication fluide et une résolution rapide des problèmes, pour une expérience sans souci.</dd>
        </div>

        <!-- Transparence Tarifaire -->
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-HFblue-200">
              <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.9" d="M6 10h9.231M6 14h9.231M18 5.086A5.95 5.95 0 0 0 14.615 4c-3.738 0-6.769 3.582-6.769 8s3.031 8 6.769 8A5.94 5.94 0 0 0 18 18.916"/>
            </svg>
            </div>
            Transparence tarifaire
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600 font-serif">Nous assurons une transparence totale des tarifs, permettant aux propriétaires de connaître les coûts exacts des services de conciergerie dès le départ, sans frais cachés ni surprises.</dd>
        </div>
      </dl>
    </div>
  </div>
</div>

<!-- Section sur Nos concierges -->
<section class="bg-red-50 py-10 sm:py-10">
 <div class="mx-auto px-4 sm:px-6 lg:px-4 py-12 w-3/4"> 
    <div class="text-center pb-12">
      <h2 class="mb-10 text-lg font-bold text-violet-950">
        Travailler avec eux
      </h2>
      <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-violet-950 ">
        Nos Concierges
      </h1>
    </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <% @randusers.first(3).each_with_index do |user, index| %>
          <div class="w-full bg-white rounded-lg p-12 flex flex-col justify-center items-center drop-shadow-md transition-transform transform hover:-translate-y-2 hover:shadow-2xl hover:scale-105 ">        
            <div class="mb-8">
            <% if user.avatar.attached? && user.description? && !user.is_admin %>
              <%= image_tag user.avatar.variant(resize_to_fill: [500, 500]), class: "rounded-full w-36 h-36 object-cover" %>
            <% end %>
            <a href="<%= user_path(user) %>">
          </div>
            <div class="text-center">
              <p class="text-xl text-gray-700 font-bold mb-2"><%= user.first_name %></p>
              <p class="text-base text-gray-400 font-normal truncate-description text-left"><%= user.description %></p>
              </div>
          </a>
        </div>
      <% end %>
    </div>
    <div class="flex justify-center items-center mt-14">
      <%= link_to 'Tous nos concierges', users_path, class: 'py-4 shadow-red-500/50 btn-secondary bg-red-400 text-center text-base hover:bg-red-500 font-light hidden md:inline-block flex items-center justify-center shadow-lg' %>
    </div>
  </div>
</section>

<!-- Présentation de nos partenaires de confiance -->
<section class="my-14 justify-evenly">
  <div class="w-2/3">
  <h3 class="w-full mt-2 text-2xl tracking-tight font-sans text-gray-500 text-center">Vous travaillez avec eux ? <span class="text-2xl font-bold text-violet-950">Hotefinder. </span>est fait pour vous.</h3>
  </div>
  <div class="bg-white w-full p-2 my-4">
    <div class="flex flex-col sm:flex-row justify-evenly items-center space-y-4 sm:space-y-0 sm:space-x-4">
      <%= image_tag 'icons/airbnb.webp', alt: 'Airbnb_logo', class: 'w-36 h-auto' %>
      <%= image_tag 'icons/booking', alt: 'Booking_logo', class: 'w-40 h-auto' %>
      <%= image_tag 'icons/abritel', alt: 'Abritel_logo', class: 'w-28 h-auto' %>
      <%= image_tag 'icons/leboncoin.svg', alt: 'Leboncoin_logo', class: 'w-36 h-auto' %>
    </div>
  </div>
</section>

    <!-- Testimonial Section -->
<section class="relative isolate overflow-hidden bg-red-50 px-6 py-20 sm:py-20 lg:px-8">
  <h2 class="mt-2 text-3xl mb-10 text-center font-bold tracking-tight font-sans sm:text-3xl text-violet-950">Nos clients témoignent</h2>
    <div class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,theme(colors.indigo.100),white)] opacity-20"></div>
    <div class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center"></div>
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
      <!--<img class="mx-auto h-12" src="https://tailwindui.com/img/logos/workcation-logo-indigo-600.svg" alt="">-->
      <figure class="mt-10">
        <blockquote class="text-center italic text-base font-semibold leading-8 text-gray-900 sm:text-xl sm:leading-9">
          <p>"Nous avons utilisé <span>Hotefinder</span> pour trouver le partenaire idéal pour notre maison sur Pornic. Grâce à eux, nous avons pu simplifier la gestion de notre bien et optimiser notre temps. Je recommande chaudement cette plateforme à tous les propriétaires qui cherchent une solution efficace et professionnelle."</p>
        </blockquote>
        <figcaption class="mt-10">
          <img class="mx-auto h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          <div class="mt-4 flex items-center justify-center space-x-3 text-base">
            <div class="font-semibold text-gray-900">Romane Masiera</div>
            <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-gray-900">
              <circle cx="1" cy="1" r="1"/>
            </svg>
            <div class="text-gray-600">Propriétaire d'une maison à Pornic</div>
          </div>
        </figcaption>
      </figure>
    </div>
    </div>
    </div>
</section>