<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
    <div class="max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Notre Equipe</h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">Hotefinder est un projet issu du dur labeur de 4 étudiants de THP, formation claquée en développement web. Nous remercions <span>Lilian Muller</span> pour son soutien et ses conseils durant ces 3 mois. Merci de nous mettre des bonnes notes à cette soutenance.</p>
    </div>
    <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
      
      <li>
        <div class="flex items-center gap-x-6">
          <%= image_tag 'img/lilian_muller.jpeg', alt: 'valentin_orrit', class: 'h-16 w-16 rounded-full' %>
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Lilian Muller</h3>
            <p class="text-sm font-semibold leading-6 text-gray-600">CEO</p>
          </div>
        </div>
      </li>
      
      <li>
        <div class="flex items-center gap-x-6">
          <%= image_tag 'img/valentin_orrit.jpeg', alt: 'valentin_orrit', class: 'h-16 w-16 rounded-full' %>
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Valentin Orrit</h3>
            <p class="text-sm font-semibold leading-6 text-gray-600">Full Stack Developer Junior</p>
          </div>
        </div>
      </li>

      <li>
        <div class="flex items-center gap-x-6">
          <%= image_tag 'img/enzo_garry.jpeg', alt: 'valentin_orrit', class: 'h-16 w-16 rounded-full' %>
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Enzo Garry</h3>
            <p class="text-sm font-semibold leading-6 text-gray-600">Full Stack Developer Junior</p>
          </div>
        </div>
      </li>

      <li>
        <div class="flex items-center gap-x-6">
          <%= image_tag 'img/elias_ben_amar.jpeg', alt: 'valentin_orrit', class: 'h-16 w-16 rounded-full' %>
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Elias Ben Amar</h3>
            <p class="text-sm font-semibold leading-6 text-gray-600">Full Stack Developer Junior</p>
          </div>
        </div>
      </li>

      <li>
        <div class="flex items-center gap-x-6">
          <%= image_tag 'img/antoine_kc.jpeg', alt: 'valentin_orrit', class: 'h-16 w-16 rounded-full' %>
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Antoine Kim Cheang</h3>
            <p class="text-sm font-semibold leading-6 text-gray-600">Full Stack Developer Junior</p>
          </div>
        </div>
      </li>
      <!-- More people... -->
    </ul>
  </div>
</div>
