<body>
  <img src=https://images.pexels.com/photos/1115804/pexels-photo-1115804.jpeg alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-center">
    <div class="flex items-center justify-center">
    <div class="bg-HFdark bg-opacity-50 rounded-xl p-8 flex flex-col space-y-4 w-full max-w-sm items-center justify-center mt-5 mb-5">
        <%= image_tag 'icons/Bg_logo.svg', alt: 'Logo', class: 'size-14 stroke-white' %>
        <h2 class="text-white text-2xl font-semibold">Me connecter</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, class:"text-HFlight flex items-center"%>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-opacity-50 mg-2 rounded-full shadow-md bg-HFlight text-HFdark placeholder-HFlight focus:outline-none focus:ring-2 focus:ring-blue-500 text-sm", placeholder:"hello@hotefinder.com" %>
        </div>
        <div class="field py-6">
          <%= f.label :Mot_de_passe, class:"text-HFlight flex items-center"%>
          <%= f.password_field :password, autocomplete: "current-password", class: "bg-opacity-50 rounded-full shadow-md bg-HFlight text-HFdark placeholder-HFlight focus:outline-none focus:ring-2 focus:ring-blue-500 text-sm", placeholder:"Tout sauf 'azerty123' svp" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field snap-center">
            <%= f.check_box :remember_me, class:'rounded' %>
            <%= f.label :se_rappeler_de_moi, class: 'text-HFlight' %>
          </div>
      <% end %>
      <div class="flex items-center justify-center">
      <button class='rounded flex mt-3'>
        <%= f.submit "Me connecter", class: 'btn-primary' %>
        <% end %>
      </button>
      </div>
      <%= render "devise/shared/links" %>
    </div>
    </div>
  </div>
</body>