<div id="<%= dom_id mission %>">
<p><%= mission.title %></p>
<p><%= mission.description %></p>
<p><%= mission.status %></p>
<p><%= mission.host_id %></p>
<p><%= mission.owner_id %></p>
<p><%= mission.start_date %></p>
<p><%= mission.end_date %></p>

</div>
