<head>
<meta name="description" content="Le fichier d'accichage du contenu des missions">
</head>

<div class="flex flex-col justify-center items-center my-8">
    <div class='text-center h1 font-bold text-HFblue-200 p-2 m-1'><%= mission.title %></div>
    <div class='text-center h3 font-bold text-red-500 p-2 m-1'><%= mission.status %></div>
</div>

<div id="<%= dom_id mission %>" class="bg-HFlight shadow-md rounded-lg p-4 mb-4 items-center">
  <p class="my-4"><span class="font-bold text-HFblue-200">Description de ma mission :</span><br><%= mission.description %></p>
  <p><span class="font-bold text-HFblue-200">Nom de l'hôte :</span> <%= mission.host.first_name %></p>
  <p><span class="font-bold text-HFblue-200">Identifiant propriétaire :</span> <%= mission.owner_id %></p>
  <p><span class="font-bold text-HFblue-200">Date de début :</span> <%= mission.start_date %></p>
  <p><span class="font-bold text-HFblue-200">Date de fin :</span> <%= mission.end_date %></p>
</div>
