<div class="flex justify-center">
  <% puts "==" * 18 %>
  <%= puts mission.status %>
  <% puts "==" * 18 %>
  <% if mission.status == "" %>
    <%= button_to "Save Mission", mission_path(mission), method: :update, params: { choix: "Save Mission" }, class: "btn-primary" %>
  <% elsif mission.status == "En attente" %>
    <% if mission.host_id == current_user.id %>
      <%= button_to "Accepter Mission", mission_path(mission), method: :update, params: { choix: "Accepter Mission" }, class: "btn btn-primary" %>
      <%= button_to "Refuser Mission", mission_path(mission), method: :update, params: { choix: "Refuser Mission" }, class: "btn btn-danger" %>
    <% elsif mission.owner_id == current_user.id %>
      <%= text_field_tag :info, "attente de réponse", readonly: true, class: "mt-1 block w-full shadow-sm sm:text-sm rounded-md text-HFdark border-HFlight hoover:border-HFblue-200 bg-gray-200" %>
    <% end %>
  <% elsif mission.status == "Acceptée" %>
    <% if mission.host_id == current_user.id %>
      <%= button_to "Abandonner", mission_path(mission), method: :update, params: { choix: "Abandonner mission" }, class: "btn btn-danger" %>
    <% elsif mission.owner_id == current_user.id %>
      <%= button_to "Annuler", mission_path(mission), method: :update, params: { choix: "Annuler mission" }, class: "btn btn-danger" %>
    <% end %>
  <% end %>
</div>
