<body>
<div class="w-full mt-5">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Missions" %>

<div class="flex flex-col items-center mb-5 justify-center">
  <h1 class="font-bold text-4xl text-HFblue-200 mb-5">Missions</h1>
  <%= link_to "Ajouter une nouvelle mission", new_mission_path, class: "btn-primary mt-5 mb-5" %>
</div>

<div id="missions" class="flex justify-center flex-wrap p-2 ml-2 space-x-4">
  <% @missions.each do |mission| %>
    <div class="mb-5 mt-5 ml-5 bg-HFlight shadow-md rounded-lg p-5 m-5 w-2/5">
      <h2 class="text-2xl font-bold text-HFblue-200 mb-5"><%= mission.title %></h2>
      <% if mission.owner_id == current_user.id %>
        <p class="text-2xl font-bold text-red mb-5">Attente de réponse</p> <% end %>
      <p class="my-4"><span class="font-bold text-HFblue-200 ">Statut :</span> <%= mission.status %></p>
      <div> <span class="font-bold text-HFblue-200">Description:</span><br>
      <%= mission.description %>
      <p class="my-4"></div></p>
      <p class="mb-2"><%= mission.host.first_name %> <%= mission.host.last_name %></p>
      <div class="flex items-center mb-2">
        <p class="mb-2 text-HFblue-200">Début: <%= mission.start_date %></p>
      </div>
      <p class="mb-4 text-HFblue-200">Fin: <%= mission.end_date %></p>
      <div class="flex mt-10 justify-between">
        <div>
          <%= link_to "Voir cette mission", mission_path(mission), class: "btn-primary" %>
        </div>
        <div>
          <%= link_to "Modifier", edit_mission_path(mission), class: "rounded py-2 px-2 bg-HFlight inline-block font-medium" %>
        </div>
        <div>
          <%= button_to "Supprimer", mission, method: :delete, class: "btn-secondary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>


</body>
