<!DOCTYPE html>
<html>
  <head>
    <title>Hotefinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%# Désactiver le get hover de turbo %>
    <meta name="turbo-prefetch" content="false">
    <script src="https://kit.fontawesome.com/7c499b006c.js" crossorigin="anonymous"></script>

  </head>

  <body class="flex flex-col min-h-screen">
    <%= render 'shared/navbar' %>

    <main class="flex-grow flex flex-col mt-0">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </main>
    
    <%= render 'shared/footer' %>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    let currentIndex = 0;
    const items = document.querySelectorAll('[data-carousel-item]');
    const totalItems = items.length;
    const indicators = document.querySelectorAll('[data-carousel-slide-to]');

    function showItem(index) {
      items.forEach((item, i) => {
        item.classList.toggle('hidden', i !== index);
        item.classList.toggle('duration-700', i === index);
        indicators[i].classList.toggle('bg-gray-800', i === index);
        indicators[i].classList.toggle('bg-gray-400', i !== index);
      });
    }

    document.querySelector('[data-carousel-prev]').addEventListener('click', () => {
      currentIndex = (currentIndex === 0) ? totalItems - 1 : currentIndex - 1;
      showItem(currentIndex);
    });

    document.querySelector('[data-carousel-next]').addEventListener('click', () => {
      currentIndex = (currentIndex === totalItems - 1) ? 0 : currentIndex + 1;
      showItem(currentIndex);
    });

    indicators.forEach((indicator, i) => {
      indicator.addEventListener('click', () => {
        currentIndex = i;
        showItem(currentIndex);
      });
    });

    // Initialize the first item
    showItem(currentIndex);
  });
</script>


  </body>
