<!DOCTYPE html>
<html lang="fr">
  <head>
    <%= favicon_link_tag asset_path('icons/favicon.ico') %>
    <title>Hotefinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind.css", media: 'all', "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "inter-font", media: 'all', "data-turbo-track" => "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%# Désactiver le get hover de turbo %>
    <meta name="turbo-prefetch" content="false">
    <meta name="description" content="Le fichier d'architecture de l'application contenant les elements generiques">
  </head>

  <body class="flex flex-col min-h-screen">
    <%= render 'shared/navbar' %>
    <main class="flex-grow flex flex-col mt-0">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </main>
    
    <%= render 'shared/footer' %>

  </body>


